@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<shopping_cart_.Models.Product>

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-4">Welcome to admin shopping cart </h1>
    <p> Add wine to the cart: </p>
        <p>
            <a href="http://localhost:8080/Product/Create" class="btn btn-primary">Create New</a>
        </p>
</div>
